<!DOCTYPE html>
<html lang=" zh-CN">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/XKOfficial/xkofficial.cf/Image/192.webp">
    <link rel="icon" type="iamge/webp" sizes="192x192" href="https://cdn.jsdelivr.net/gh/XKOfficial/xkofficial.cf/Image/192.webp">
    <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.jsdelivr.net/gh/XKOfficial/xkofficial.cf/Image/120.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.jsdelivr.net/gh/XKOfficial/xkofficial.cf/Image/180.webp">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

<footer class="site-footer">
<h2 id="友情链接">友情链接</h2>
<p><a href="https://www.fuibafuyu.cn" target="_blank" rel="noopener noreferrer" title="うち、フユや">冬優ちゃんの小窝</a></p>
<p><a href="https://www.cqzhx.top" target="_blank" rel="noopener noreferrer" title="站长就是个屑！">某全小站</a></p>
<p><a href="https://yp.cqzhx.top" target="_blank" rel="noopener noreferrer" title="屑站长运营的个人云盘">千雪云盘</a></p>
<p><a href="https://www.cnblogs.com/ofbwyx" target="_blank" rel="noopener noreferrer" title="咕咕咕">ofbwyx的小窝</a></p>
<p><a href="https://sevente17.github.io" target="_blank" rel="noopener noreferrer" title="总感觉有哪里不对劲...">seventeen的博客</a></p>
<div align="center">
<p>Copyright 2022 星空Official AllRightsReserved.  Ver.2022.3<p>
</div>
<p><span><a style="text-decoration: none; font-weight: normal" href="https://icp.gov.moe/?keyword=20222258" target="_blank"><img style="width:32px;height:32px;margin-bottom:-8px" src="https://icp.gov.moe/images/ico64.png">萌ICP备20222258号</a></span><p>
      </footer>
    </main>
  </body>
</html>
