<!DOCTYPE html>
<html lang=" zh-CN">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://s11.ax1x.com/2024/02/14/pF8oblT.png">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "l3r74wg70c");</script>
  </head>
  
<script language=javascript>
    function siteTime(){
        window.setTimeout("siteTime()", 1000);
        var seconds = 1000;
        var minutes = seconds * 60;
        var hours = minutes * 60;
        var days = hours * 24;
        var years = days * 365;
        var today = new Date();
        var todayYear = today.getFullYear();
        var todayMonth = today.getMonth()+1;
        var todayDate = today.getDate();
        var todayHour = today.getHours();
        var todayMinute = today.getMinutes();
        var todaySecond = today.getSeconds();
        var t1 = Date.UTC(2022,05,08,21,35,52); 
        var t2 = Date.UTC(todayYear,todayMonth,todayDate,todayHour,todayMinute,todaySecond);
        var diff = t2-t1;
        var diffYears = Math.floor(diff/years);
        var diffDays = Math.floor((diff/days)-diffYears*365);
        var diffHours = Math.floor((diff-(diffYears*365+diffDays)*days)/hours);
        var diffMinutes = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours)/minutes);
        var diffSeconds = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours-diffMinutes*minutes)/seconds);
        document.getElementById("sitetime").innerHTML=+diffYears+"年"+diffDays+"天"+diffHours+"时"+diffMinutes+"分钟"+diffSeconds+"秒";
    }
    siteTime();
</script>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

<footer class="site-footer">
<h2 id="友情链接">友情链接</h2>
<p><a href="https://fuibafuyu.net" target="_blank" rel="noopener noreferrer" title="うち、フユや">冬優ちゃんの小窝</a></p>
<p><a href="/" target="_self" rel="noopener noreferrer" title="站长就是个屑！">某全小站：现已彻底趋势</a></p>
<p><a href="https://raxxt.top" target="_blank" rel="noopener noreferrer" title="うち、フユや">Ra小小特的个人小站</a></p>
<p><a href="https://www.cnblogs.com/ofbwyx" target="_blank" rel="noopener noreferrer" title="咕咕咕">ofbwyx的小窝</a></p>
<div align="center">
<p>Copyright 2024 星空Official AllRightsReserved.  Ver.2024.5<p>
<p>*已将xkOfficial.cf域名改为www.xkOfficial.top<p>
本站已坎坷运行<span id="sitetime"  style="color: #cb48eb;" ></span>
<div>
<p><span><a style="text-decoration: none; font-weight: normal" href="https://icp.gov.moe/?keyword=20222258" target="_blank"><img style="width:32px;height:32px;margin-bottom:-8px" src="https://icp.gov.moe/images/ico64.png">萌ICP备20222258号</a></span><p>
</div>
      </footer>
    </main>
  </body>
</html>
